@model FinalMVC.Models.UserModel

<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Password Hash</th>
           
        </tr>
        
                <tr>
                    <td>@Model.Id</td>
            <td>@Model.Email</td>
            <td>@Model.FirstName</td>
            <td>@Model.</td>
            <td>@Model.UserName</td>
            <td>@Model.PasswordHash</td>
            
                </tr>
        
    </table>
</body>
</html>